<br />
<div class="row">
	<div class="col-md-5">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well form-vertical well-small"}) do |f| %>

	<fieldset>
		  <legend>Sign In</legend>
	  	  <%= f.input :email %>
	      <%= f.input :password%>
	 <br/ >

	  <% if devise_mapping.rememberable? -%>
	      <%#= f.input :remember_me, as: :boolean, inline_lable: "Remember Me", label: false %>
	  <% end -%>

	  <%= f.button :submit, "Sign in", class: 'btn btn-primary btn-block' %>
	  </fieldset>
	<% end %>

	</div>

	<div class="col-md-7">
		<h2>Signing in is easy and secure</h2>

	    <%= render "devise/shared/links" %>
	</div>
</div>
